# =========================
# Node Modules
# =========================
client/node_modules/
server/node_modules/

# =========================
# Environment Variables
# =========================
client/.env
server/.env

# =========================
# Uploads
# =========================
server/uploads/

# =========================
# Build Files
# =========================
client/dist/
server/dist/

# =========================
# Logs
# =========================
*.log
npm-debug.log*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Temporary Files
# =========================
*.tmp
*.temp
node_modules
uploads
.env